.person {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp {
    grid-row: 1/ 1;
    /*     display: block;
    margin-right: auto;
     margin-left: auto;
*/
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*     display: inline-block;
 */
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #edf4ff;
}


/* The navigation bar */

.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}


/* Links inside the navbar */

.navbar a {
    float: left;
    display: block;
    color: #367bc9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 10px;
}

.navbar p {
    float: left;
    display: block;
    color: #367bc9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 10px;
    margin-bottom: 0;
}


/* Change background on mouse-over */

.navbar a:hover {
    background: #ddd;
    color: black;
}


/* Main content */

.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}

.navbar-title {
    text-align: center;
}

.space {
    height: 60px;
}