@font-face {
    font-family: 'gothic';
    src: url('../fonts/URWGothic-Demi.otf');
}

@font-face {
    font-family: 'gothic-light';
    src: url('../fonts/URWGothic-Book.otf');
}

body {
    background-color: #367bc9;
}

h1 {
    font-family: 'gothic', sans-serif;
}

.job-listing {
    font-family: 'gothic', sans-serif;
    background-color: white;
    width: 400;
    margin: 15px;
    border-radius: 30px;
    padding: 15px;
}

.job-title {
    display: grid;
}

#pp {
    grid-row: 1/2;
    /*     display: block;
    margin-right: auto;
     margin-left: auto;
*/
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*     display: inline-block;
 */
}

.job-text {
    grid-row: 1 / 2;
    margin: 15px;
    padding: auto;
    text-justify: auto;
    font-size: 15px;
    max-height: 100px;
}

.job-name {
    text-justify: auto;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

.co-name {
    margin-top: 0px;
    padding-top: 0px;
    opacity: 0.5;
    text-justify: auto;
    font-size: 15px;
}

.pay {
    text-align: center;
    width: 100px;
    font-size: 2em;
    grid-row: 1/2;
    margin: 10px;
}

.job-desc {
    grid-row: 1/2;
    font-family: 'gothic-light', sans-serif;
    font-weight: 0.5;
    margin-left: 15px;
}

.job-extra {
    padding: auto;
    display: grid;
}

.apply-action {
    min-width: 100%;
    text-align: center;
    height: 50px;
    background-color: #50c085;
    border-radius: 15px;
}

.apply {
    min-width: 100%;
    text-align: center;
    height: 50px;
    background-color: #50c085;
    color: white;
    border-radius: 15px;
}

.pending {
    background-color: #dedede;
    color: white;
}

.waiting {
    background-color: #dedede;
    color: white;
}

.confirm {
    background-color: #50c085;
    color: white;
}

.initiate {
    background-color: #367bc9;
    color: white;
}

/* this is to limit max width on big screens */
.job-listing {
    max-width: 800px;
    margin: 15px auto;
}

/* this is to style margins on smaller screens */
@media only screen and (max-width: 830px) {
    .job-listing {
      /* background-color: lightblue; */
      margin: 15px
    }
  }