{% extends 'base.html' %} {% block head %}
<title>[some employee name with jinja kak]</title>
<link rel="stylesheet" href="../static/styles/business.css"> {% endblock%} {% block body %}
<a href="">Employee profile</a>

<div class="navbar">
    <div style="">
        <a href="#home">
            < </a>
    </div>

    <p style="text-align: right;">
        Your Enterprise Profile
    </p>

</div>
<br>
<div class="space">

</div>
<div class="business" style="">
    <div class="circle">
        <img class="pp" src="../static/img/business/{{ id }}.jpg">
    </div>
    <div class="heading">
        <h1>
            Nails is our game inc.
        </h1>
    </div>
    <div class="desc">
        This is our project, we like nails. nails nails nails. nail me nail you. If you want to learn more about our business, please apply for a job please and thanks you too.
    </div>

    <a class="create" href="/jobs/create/{{ id }}">Create a Job</a>


</div>


{% for job in jobs %}
<div class="job-listing">
    <div class="job-title">
        <img id="pp" src="../static/img/business/1.jpg">
        <div class="job-text">
            <h2 class="job-name">{{ job.title }}</h2>
            <br>
            <h4 class="co-name">{{ job.biz_name }}</h4>
        </div>
    </div>
    <div class="job-extra">
        <p class="pay">{{ job.pay }}</p>
        <p class="job-desc">{{ job.short }}</p>
    </div>


        {% if job.status == '0' %}
            {% for app in job.apps %}
                <div class="apply">
                    <div class="worker">
                        <p>{{ app }}</p>
                    </div>
                    <a href="/jobs/accept/{{job.poster_id}}/{{job.id}}/{{app}}">
                        <div class="accept">
                            <p style="margin: 0;">
                                accept
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% elif job.status == '1' or job.status == '2'  or job.status == '3' %}
        <div class="apply">
            <div class="worker">
                <p>{{job.user_id}}</p>
            </div>
            <a href="/jobs/finish/1/{{ job.id }}/{{ job.poster_id }}">
                <div class="accept">
                    <p style="margin: 0;">
                        complete
                    </p>
                </div>
            </a>
        </div>
        {% endif %}

        {% if job.status == '4'%}
        <div class="apply">
            <div class="worker">
                <p>{{job.user_id}}</p>
            </div>
            <!-- <a href="/jobs/finish/1/{{ job.id }}">
                <div class="accept">
                    <p style="margin: 0;">
                        complete
                    </p>
                </div>
            </a> -->
        </div>
        {% endif %}
        


    <!-- <div class="apply">
        <div class="worker">
            <p>
                Piet Fourie
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>
    <div class="apply">
        <div class="worker">
            <p>
                Tieg O'Sullivan
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>
    <div class="apply">
        <div class="worker">
            <p>
                Robo-painter 2000
            </p>
        </div>
        <a href="some kak somewhere">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div> -->


</div>
{% endfor %}



<!-- <div class="job-listing">
    <div class="job-title">
        <img id="pp" src="../static/img/business/1.jpg">
        <div class="job-text">
            <h2 class="job-name">Paintjob</h2>
            <br>
            <h4 class="co-name">Local Painting corp.</h4>
        </div>
    </div>
    <div class="job-extra">
        <p class="pay">R2000</p>
        <p class="job-desc">
            Worker needed for 10 day painting job. On the job training.
        </p>
    </div>


    <div class="apply">
        <div class="worker">
            <p>
                Sibongani Ndlovu
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>
    <div class="apply">
        <div class="worker">
            <p>
                Piet Fourie
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>
    <div class="apply">
        <div class="worker">
            <p>
                Tieg O'Sullivan
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>
    <div class="apply">
        <div class="worker">
            <p>
                Robo-painter 2000
            </p>
        </div>
        <a href="some kak somewhere">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>


</div> -->

<!-- <div class="job-listing">
    <div class="job-title">
        <img id="pp" src="../static/img/interior-wall-paint-job.jpg">
        <div class="job-text">
            <h2 class="job-name">Blowjob Paintjob</h2>
            <br>
            <h4 class="co-name">Local Gardening corp.</h4>
        </div>
    </div>
    <div class="job-extra">
        <p class="pay">R600</p>
        <p class="job-desc">
            This is where explanatory text will appear. Say something that will reflect the nature of the job.
        </p>
    </div>

    <div class="apply">
        <div class="worker">
            <p>
                Sibongani Ndlovu
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>
    <div class="apply">
        <div class="worker">
            <p>
                Sibongani Ndlovu
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>
    <div class="apply">
        <div class="worker">
            <p>
                Sibongani Ndlovu
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>
    <div class="apply">
        <div class="worker">
            <p>
                Sibongani Ndlovu
            </p>
        </div>
        <a href="#">
            <div class="accept">
                <p style="margin: 0;">
                    accept
                </p>
            </div>
        </a>
    </div>


</div> -->

{% endblock%}