{% extends 'base.html' %}

{% block head %}
<title>[some employee name with jinja kak]</title>
<link rel="stylesheet" href="../static/styles/employee.css">
<link rel="stylesheet" href="../static/styles/jobs.css">

{% endblock%}

{% block body %}
<a href="">Employee profile</a>

<div class="navbar">
    <div style="">
        <a href="/foo/{{user.email}}">
            < </a>
    </div>

    <p style="text-align: right;">
        Viewing employee
    </p>

</div>
<br>
<div class="space">

</div>
<div class="person">
    <div class="circle">
        <img class="pp" src="../static/img/image.jpg">
    </div>
    <div class="heading">
        <h1>
            Nails is our game inc.
        </h1>
    </div>
    <div class="desc">
        This is our project, we like nails. nails nails nails. nail me nail you. If you want to learn more about our business, please apply for a job please and thanks you too.
    </div>

    <a class="create" href="/jobs/create/{{ id }}">Create a Job</a>


</div>




{% for job in jobs %}
<div class="job-listing">
    <h2>id: {{ job.id }}</h2>
    <div class="job-title">
        <img id="pp" src="../static/img/interior-wall-paint-job.jpg">
        <div class="job-text">
            <!-- <h2 class="job-name">Blowjob Paintjob</h2> -->
            <h2 class="job-name">{{ job.title }}</h2>
            <br>
            <h4 class="co-name">{{ job.biz_name }}</h4>
        </div>
    </div>
    <div class="job-extra">
        <p class="pay">{{ job.pay }}</p>
        <p class="job-desc">{{ job.short }}</p>
    </div>



    

    {% if job.status == '0' %}
        {% if job.applied %}
            <a href="#">

                <div class="apply">
                    <p style="color: grey; padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Pending</p>
                </div>
            </a>
        {% else %}
            <a href="/jobs/apply/{{ job.id }}/{{ user.id }}/{{ user.email }}">

                <div class="apply">
                    <p style="color: white; padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Apply</p>
                </div>
            </a>
        {% endif %}
    {% endif %}
    
    
    {% if job.status == '1' or job.status == '2' %}
        {% if job.user_id == user.id %}
            <a href="/jobs/finish/0/{{ job.id }}">

                <div class="apply">
                    <p style="color: blue; padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Complete</p>
                </div>
            </a>
        {% endif %}
    {% endif %}

    {% if job.status == '3' %}
        {% if job.user_id == user.id %}
            <a href="/jobs/finish/0/{{ job.id }}">

                <div class="apply">
                    <p style="color: orchid; padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Complete</p>
                </div>
            </a>
        {% endif %}
    {% endif %}



</div>
{% endfor %}




{% endblock%}