{% extends 'base.html' %} {% block head %}
<title>Job listings</title>
<link rel="stylesheet" href="../static/styles/jobs.css"> {% endblock%}

{% block body %}
<a href="/employee/{{ user.id }}" style="color:#367bc9; padding: 5px; background-color: white; border-radius: 10px; margin-top: 2rem; margin-left: 1rem;">Go to profile</a>
{% for job in jobs %}
<div class="job-listing">
    <div class="job-title">
        <img id="pp" src="../static/img/interior-wall-paint-job.jpg">
        <div class="job-text">
            <!-- <h2 class="job-name">Blowjob Paintjob</h2> -->
            <h2 class="job-name">{{ job.title }}</h2>
            <br>
            <h4 class="co-name">{{ job.biz_name }}</h4>
        </div>
    </div>
    <div class="job-extra">
        <p class="pay">{{ job.pay }}</p>
        <p class="job-desc">{{ job.short }}</p>
    </div>

    {% if job.status == '0' %}
        {% if job.applied %}
            <a href="#">

                <div class="pending apply-action">
                    <p style="padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Pending</p>
                </div>
            </a>
        {% else %}
            <a href="/jobs/apply/{{ job.id }}/{{ user.id }}/{{ user.email }}">

                <div class="apply apply-action">
                    <p style="padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Apply</p>
                </div>
            </a>
        {% endif %}
    {% endif %}
    
    
    {% if job.status == '1' %}
        {% if job.user_id == user.id %}
            <a href="/jobs/finish/0/{{ job.id }}/{{ user.id}}">

                <div class="initiate apply-action">
                    <p style="padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Initiate Complete</p>
                </div>
            </a>
        {% endif %}
    {% endif %}

    {% if job.status == '2' %}
        {% if job.user_id == user.id %}
            <a href="/jobs/finish/0/{{ job.id }}/{{ user.id}}">

                <div class="waiting apply-action">
                    <p style="padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Waiting For Confirmation</p>
                </div>
            </a>
        {% endif %}
    {% endif %}

    {% if job.status == '3' %}
        {% if job.user_id == user.id %}
            <a href="/jobs/finish/0/{{ job.id }}/{{ user.id}}">

                <div class="confirm apply-action">
                    <p style="padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Confirm Complete</p>
                </div>
            </a>
        {% endif %}
    {% endif %}

    <!-- !4 display none is implicit -->

    <!-- <a href="/jobs/apply/2/{{ user.id }}/{{ user.email }}">

        <div class="apply">
            <p style="color: white; padding-top: 15px; padding-bottom: 20px; font-size: 2rem;">Apply</p>
        </div>
    </a> -->


</div>
{% endfor %}

{% endblock%}