{% extends 'base.html' %}

{% block head %}
<title>Job listings</title>
{% endblock%}

{% block body %}
    <!-- ! This 3 is also jinja2 kakak -->
<a href="/employee/3">User profile</a>
<br>
<div class="job-listing">
    <!-- ! So this is gonna be jinja2 teritory -->
    <!-- ! the 2 here: we will be looping through some job object -->
    <!-- ! and we get job.id instead of 2 -->
    <br>
    <div class="job-title">
        <img id="pp" src="../static/interior-wall-paint-job.jpg">
        <p>Blowjob Paintjob</p>
    </div>
    <a href="/jobs/apply/2/2">Apply</a>

</div>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>
<h1>d</h1>

<!-- ! so here  -->
<a href="/jobs/apply/2/2" id="job-2">Apply</a>

<h1>d</h1>
{% endblock%}