{% extends 'base.html' %}

{% block head %}
<title>Login</title>
<link rel="stylesheet" href="../static/styles/login.css">
{% endblock%}

{% block body %}
<div class="title">
    <h1>skillchain</h1>
    <h2>create careers.</h2>
</div>

<form action="/login" method="POST">
    <div class="form-input">
        <input type="text" name="email" placeholder="email" class="typing">
    </div>

    <div class="form-input">
        <input type="text" name="password" placeholder="password" class="typing">
    </div>

    <br>
    <input type="submit" value="Login" class="sub">
</form>
<a href="/">Need an account?</a>
{% endblock%}