{% extends 'base.html' %}

{% block head %}
<title>Register</title>
{% endblock%}

{% block body %}
<!-- <a href="/login">Have an account?</a> -->
<a href="/login">Have an account?</a>
<br>
<form action="/" method="POST">
    <input type="text" name="email" placeholder="email">
    <br>
    <input type="text" name="password" placeholder="password">
    <br>
    <input type="text" name="name" placeholder="name">
    <br>
    Business <input type="checkbox" name="isbusiness" value="isbusiness" unchecked>
    <br>
    <input type="submit" value="Register">
</form>
{% endblock%}